.vs/
.vscode/
.vsconfig

# bat
#bat/

# Server
#Server/
Server/Server/bin/
Server/Server/obj/

# Client
#Client/
Client/Library
Client/Logs
Client/obj
Client/Temp
Client/Assets/Plugins/NativePlugins/
Client/Assets/XLua/Gen*
#Client/Assets/Plugins/xLua
#Client/UpgradeLog.htm
Client/Packages/
#Client/ProjectSettings/
#Client/UserSettings/

# gRPC
Client/Assets/Plugins/Grpc*
Client/Assets/Plugins/Google.Protobuf*
Client/Assets/Plugins/System.Buffers*
Client/Assets/Plugins/System.Memory*
Client/Assets/Plugins/System.Runtime.CompilerServices.Unsafe*

# Managed Plugin (.NET Standard)
#ManagedPlugins/*

# Native Plugin (C++)
#NativePlugins/*

# Setup
#Setup/

# Github管理から外すフォルダ
Exclusion/

# FTP(リソース用サーバー)
# マウント元(AssetBundle等 必要なら外すでOK)
Server/FTP/mnt

# アセットバンドル.
Client/AssetBundles
Server/WEB/mnt/html/AssetBundles
