<?xml version="1.0" encoding="UTF-8"?>
<!-- 絶対パスの方が望ましい. -->
<config>
	<!-- credentials.json -->
	<credentials>$GD/res/credentials.json</credentials>
	<!-- token.json (フォルダ) -->
	<token>$GD/res/token.json/</token>
	<!-- 一時保存 -->
	<temp>$GD/temp</temp>
	<!-- Unity Client Folder -->
	<client>$CL</client>
	<!-- Unity Client Assets Folder -->
	<assets>$CL/Assets</assets>
	<!-- PageSize Drive上にファイルが存在するがDL/UP出来ない場合に増やす -->
	<page>300</page>

	<!-- memo.増やすときは'data'タグ配列を増やす. -->
	<!-- アップロード関連 -->
	<upload>
		<data>
			<!--ローカル上のアップロード対象ファイル-->
			<!--ドライブ上に挙がる時は'.zip'に圧縮される-->
			<source>$CL/Assets/ExternalResources/Exclusion</source>
			<destination>Template-OnlineProject/Exclusion.zip</destination>
		</data>
	</upload>
	<!-- ダウンロード関連 -->
	<download>
		<data>
			<!--ドライブ上のダウンロード対象ファイル(.zip)-->
			<source>Template-OnlineProject/Exclusion.zip</source>
			<!--なんかフォルダ読み込まないことがあったのでディレクトリ抜いたver.-->
			<!-- <source>Exclusion.zip</source> -->
			
			<!--ローカル上の配置先-->
			<destination>$CL/Assets/ExternalResources/Exclusion</destination>
		</data>
	</download>
</config>