<?xml version="1.0" encoding="UTF-8"?>
<!-- 絶対パスの方が望ましい. -->
<config>
	<!-- credentials.json -->
	<credentials>../../../res/credentials.json</credentials>
	<!-- token.json (フォルダ) -->
	<token>../../../res/token.json/</token>
	<!-- 一時保存 -->
	<temp>../../../temp</temp>
	<!-- Unity Client Folder -->
	<client>../../../../../Client/</client>
	<!-- Unity Client Assets Folder -->
	<assets>../../../../Client/Assets</assets>

	<!-- memo.増やすときは'data'タグ配列を増やす. -->
	<!-- アップロード関連 -->
	<upload>
		<data>
			<!--ローカル上のアップロード対象ファイル-->
			<!--ドライブ上に挙がる時は'.zip'に圧縮される-->
			<source>../../../../Client/Assets/ExternalResources/Exclusion</source>
			<destination>Template-OnlineProject/Exclusion.zip</destination>
		</data>
	</upload>
	<!-- ダウンロード関連 -->
	<download>
		<data>
			<!--ドライブ上のダウンロード対象ファイル(.zip)-->
			<source>Template-OnlineProject/Exclusion.zip</source>
			<!--ローカル上の配置先-->
			<destination>../../../../Client/Assets/ExternalResources/Exclusion</destination>
		</data>
	</download>
</config>